<div class="todo-list">

    <ng-container *ngIf="todos$ else noTodo">
      <ul>
        <ng-container *ngFor="let todo of (todos$ | async)" >
          <li>
            {{ todo.title }} {{ todo.priorite }}
            <button type="button" (click)="goToDetail(todo.id)">Détail</button>
          </li>
        </ng-container>
      </ul>
    </ng-container>
    <a routerLink="/add" title="Add todo">Ajouter</a>
  </div>

  <ng-template #noTodo>
    <div class="no-todo">
      Désolé, aucun todo dans votre liste
    </div>
  </ng-template>

