<div class="todo-list">

    <ng-container *ngIf="todoService.filterNumber() else noTodo">
      <ul>
        <ng-container *ngFor="let todo of todoService.todos" >
          <li *ngIf="todo.priorite === todoService.priorite || todoService.priorite === 0">
            {{ todo.title }} {{ todo.priorite }}
          </li>
        </ng-container>
      </ul>
    </ng-container>
    <a routerLink="/add" title="Add todo">Ajouter</a>
  </div>

  <ng-template #noTodo>
    <div class="no-todo">
      Désolé, aucun todo dans votre liste
    </div>
  </ng-template>

