<div class="filter-bar">
    <button [disabled]="todoService.priorite === 0" type="button" (click)="todoService.priorite = 0">
      Voir tout
    </button>
    <button [disabled]="todoService.priorite === 1" type="button" (click)="todoService.priorite = 1">
      Priorité 1
    </button>
    <button [disabled]="todoService.priorite === 2" type="button" (click)="todoService.priorite = 2">
      Priorité 2
    </button>
    <button [disabled]="todoService.priorite === 3" type="button" (click)="todoService.priorite = 3">
      Priorité 3
    </button>
  </div>
