<form [formGroup]="todoForm">
    <mat-form-field>
        <input matInput type="text" placeholder="Todo..." formControlName="title">
        <mat-error>
            <span *ngIf="title.hasError('minlength') && title.dirty">
                Au minimum 5 caractères
            </span>
            <span *ngIf="title.hasError('required') && title.touched">
                Le champ est requis
            </span>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="date" placeholder="Date..." formControlName="dateDebut">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="number" min="1" max="3" placeholder="Priorité..." formControlName="priorite">
        <mat-error *ngIf="priorite.errors && priorite.dirty">
            <span *ngIf="priorite.hasError('required')">
                La priorité est requise.
            </span>
            <span *ngIf="priorite.hasError('min')">
                La priorité ne peut pas être inférieure à 1
            </span>
            <span *ngIf="priorite.hasError('max')">
                La priorité ne peut pas être supérieure à 3
            </span>
        </mat-error>
    </mat-form-field>

    <button [disabled]="todoForm.invalid" mat-button color="primary">
        Créer
    </button>
</form>

{{ todoForm.value | json }}